@tailwind base;
@tailwind components;
@tailwind utilities;

.sticky {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
}

.gradient-text {
  background: linear-gradient(to right, #ff6b6b, #4f46e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
