@tailwind base;
@tailwind components;
@tailwind utilities;

.sticky {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
}

.navbar-width {
  width: 80%;
  margin: 0 auto;
  border-radius: 9999px; /* Completely round corners */
}
